.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.content-wrapper {
    position: relative; /* Needed for proper layering */
    padding: 50px; /* Add some padding around content */
    text-align: center; /* Center text for mobile */
    color: white; /* White text for better contrast */
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
    line-height: 1.5; /* Adjust line spacing for readability */
}

button {
    background-color: #4CAF50; /* Green color */
    color: white;
    padding: 20px 40px; /* Increase button size */
    border: none;
    border-radius: 10px; /* Larger border radius for softer look */
    cursor: pointer;
    font-size: 1.2em; /* Increase button text size */
}

button:hover {
    background-color: #3e8e41; /* Darker green on hover */
}
